@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  overflow: hidden;
}

.box {
  position: relative;
  width: 500px;
  height: 500px;
}

.box span {
  position: absolute;
  inset: 0;
  transform: rotate(calc(45deg * var(--i)));
}

.box span::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 250px;
  height: 300px;
  background: url(off.png);
  background-size: cover;
  background-position: center;
  transform: translateX(-50%) translateY(-100px) scale(0.75);
  animation: glowAnimation 2s steps(1) infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes glowAnimation {
  0%, 100% {
    background: url(off.png);
  }
  50% {
    background: url(on.png);
  }
}
