@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}

.btn {
  position: relative;
  display: inline-flex;
  padding: 10px 30px;
  background: #363636;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}
.btn::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #21fe;
  transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
  width: 300px;
  height: 300px;
}