@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #111;
  flex-direction: column;
}

input[type="radio"] {
  position: relative;
  width: 120px;
  height: 40px;
  margin: 10px;
  outline: none;
  background: #222;
  -webkit-appearance: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -5px -5px 20px rgba(255,255,255,0.1),
              5px 5px 10px rgba(0,0,0,1),
              inset -2px -2px 5px rgba(255,255,255,0.1),
              inset 2px 2px 5px rgba(0,0,0,0.5),
              0 0 0 2px #1f1f1f;
  transition: 0.5s;
}

input[type="radio"]:checked {
  background: #20b7ff;
}

input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(to top, #000, #555);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input[type="radio"]:checked::before {
  left: 40px;
}

input[type="radio"]::after {
  content: '';
  position: absolute;
  left: 65px;
  top: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #555;
  transition: 0.5s;
}

input[type="radio"]:checked::after {
  left: calc(65px + 40px);
  background: #63cdff;
  box-shadow: 0 0 5px #63cdff,
              0 0 15px #63cdff,
              0 0 30px #63cdff;
}