@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#4ba9e9, #4ba9e9 50%, #fff 50%, #fff 100%);
}

.card {
  position: relative;
  width: 300px;
  height: 380px;
  background: #000;
  box-shadow: 0 15px 45px rgba(0,0,0,0.1);
  display: flex;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.card:hover {
  width: 600px;
}

.card .imgBox {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card .imgBox img {
  max-width: 250px;
  transition: 0.5s ease-in-out;
}

.card:hover .imgBox img {
  transform: rotate(-35deg) translateX(-20px);
}

.card .detailBox {
  position: relative;
  min-width: 300px;
  height: 100%;
  background: #4ba9e9;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}

.card .detailBox::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.card .detailBox h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}

.card .detailBox h3 span {
  font-size: 0.65em;
  font-weight: 300;
  text-transform: none;
  opacity: 0.85;
}

.card .detailBox h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1em;
}

.card .detailBox p {
  color: #fff;
  opacity: 0.85;
  font-size: 0.8em;
}

.card .detailBox .size {
  display: flex;
  gap: 10px;
}

.card .detailBox .size li {
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  opacity: 0.65;
  cursor: pointer;
}

.card .detailBox .size li:hover {
  color: #4ba9e9;
  background: #fff;
  opacity: 1;
}

.card .detailBox .group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px; 
}

.card .detailBox .group h2 {
  font-weight: 600;
  font-size: 2em;
  animation: colorChange 2s linear infinite;
}

@keyframes colorChange {
  from, to { color: rgb(236,100,75); }
    10% { color: rgb(219,10,91); }
    20% { color: rgb(174,168,211); }
    30% { color: rgb(89,171,227); }
    40% { color: rgb(37,116,169); }
    50% { color: rgb(3,201,169); }
    60% { color: rgb(22,160,133); }
    70% { color: rgb(233,212,96); }
    80% { color: rgb(243,156,18); }
    90% { color: rgb(236,240,241); }
}

.card .detailBox .group h2 sup {
  font-weight: 300;
}

.card .detailBox .group h2 small {
  font-size: 0.75em;
}

.card .detailBox .group a {
  display: inline-flex;
  padding: 10px 10px;
  background: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: #4ba9e9;
  border-radius: 15px;
}