@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  padding-top: 100px;
  min-height: 100vh;
}

.box {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: khaki;
  position: relative;
  animation: move 4s linear 2s infinite alternate backwards running;
  /*animation-delay: 2s;
  animation-direction: reverse;
  animation-fill-mode: backwards;
  animation-play-state: running;*/
}

@keyframes move {
  0% {
    background-color: red;
    left: 0;
    top: 0;
  }
  25% {
    background-color: gold;
    left: 350px;
    top: 0;
  }
  50% {
    background-color: lime;
    left: 350px;
    top: 350px;
    border-radius: 50%;
  }
  75% {
    background-color: pink;
    left: 0px;
    top: 350px;
  }
  100% {
    background-color: blueviolet;
    left: 0;
    top: 0;
  }
}

.circle {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid white;
  border-radius: 50%;
  position: relative;
  animation: squaresss 4s linear 2s infinite alternate forwards;
}

.square {
  width: 75px;
  height: 75px;
  border: 5px solid limegreen;
  position: relative;
  animation: circle 2s linear 2s infinite ease-in-out;
}

@keyframes circle {
  0% { 
    border-color: red;
    transform: scale(1);
  }
  25% {
    border-color: blueviolet;
    transform: scale(1.1);
  }
  50% {
    border-color: lime;
    transform: scale(1.2);
  }
  75% {
    border-color: greenyellow;
    transform: scale(1.3);
  }
  100% {
    border-color: gold;
    transform: scale(1.5);
  }
}



@keyframes squaresss {
  0% { 
    border-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-color: blueviolet;
    transform: scale(1.1);
  }
  50% {
    border-color: lime;
    transform: scale(1.2);
  }
  75% {
    border-color: greenyellow;
    transform: scale(1.3);
  }
  100% {
    border-color: gold;
    transform: rotate(360deg);
  }
}