@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.toggle {
  position: relative;
  width: 70px;
  height: 70px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 40px;
  height: 4px;
  background: #18ff;
  border-radius: 4px;
  transition: 0.5s;
}

.toggle.active span {
  background: red;
  box-shadow: 0 0 10px rgb(156, 17, 17), 
               0 0 20px rgb(192, 127, 127), 
               0 0 30px rgb(82, 11, 11), 
               0 0 40px rgb(106, 12, 12);
}

.toggle span:nth-child(1) {
  transform: translateY(-15px);
  width: 25px;
  left: 15px;
}

.toggle.active span:nth-child(1) {
  width: 40px;
  transform: translateY(0) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
  transform: translateY(15px);
  width: 15px;
  left: 15px;
}

.toggle.active span:nth-child(2) {
  width: 40px;
  transform: translateY(0) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3) {
  transform: translateX(100px);
}