@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #568453, #563421);
}

.menu {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  position: absolute;
  list-style: none;
  left: 0;
  transform-origin: 100px;
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(80px);
}

.menu.active li {
  transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  transform: rotate(calc(360deg / -8 * var(--i)));
  font-size: 2rem;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: black;
  transition: 0.5s;
}

.menu li a:hover {
  color: #987845;
}

.toggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0,0,0, 0.15);
  font-size: 4rem;
  transition: transform 1.25s;
}

.menu.active .toggle {
  transform: rotate(315deg);
}
