@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:ital,wght@0,400;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #1a191d;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.loader span:nth-child(1) {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top: 0.25px solid rgba(255,255,255,0.5);
  border-left: 0.25px solid rgba(255,255,255,0.25);
  z-index: 2;
}

.loader span:nth-child(2) {
  background: #04fe4d;
  animation: animate 4s ease-in-out infinite;
}

.loader span:nth-child(3) {
  background: #FFF;
  animation: animate 4s ease-in-out infinite;
  animation-delay: -2s;
  border-radius: 0;
}

@keyframes animate {
  0%{
    transform: translate(-150px, 50px) scale(0.4) rotate(0deg);
    z-index: 1;
  }
  50%{
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);
    z-index: 1;
  }
  50.0001%{
    transform: translate(150px, -50px) scale(0.4) rotate(180deg);
    z-index: 3;
  }
  100%{
    transform: translate(-150px, 50px) scale(0.4) rotate(360deg);
    z-index: 3;
  }
}